<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${usuario.nombre} + ' - Perfil'"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">

    <!-- Path to jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <!-- Path to Popper - it is for dropsdowns etc in bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>

    <!-- Path to bootsrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<main class="main">
    <div class="perfil-container">
        <!-- Sección de información del usuario -->
        <div class="row">
            <div class="col-md-3">
                <!-- Mostrar la imagen actual o la default si no existe -->
                <div th:if="${usuario.imagenUrl} == null">
                    <img src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png"
                         class="img-fluid rounded-circle" alt="Imagen de perfil"
                         style="width: 150px;">
                </div>
                <div th:if="${usuario.imagenUrl} != null">
                    <img th:src="@{${usuario.imagenUrl}}"
                         class="img-fluid rounded-circle" alt="Imagen de perfil"
                         style="width: 150px;">
                </div>
                <h2 class="mt-3" th:text="${usuario.nombreUsuario}"></h2>
                <h3 class="mt-3" th:text="'Email: ' + ${usuario.email}"></h3>
                <!-- La biografia al principio esta vacia, cuando el usuario edite el perfil podra agregar -->
                <p th:text="${usuario.biografia} != null ? 'Bio: ' + ${usuario.biografia} : ''"></p>
                <p th:text="'Fecha nacimiento: ' + ${usuario.fechaNacimiento}"></p>
                <a th:href="@{/mostrarEditarPerfil/{id}(id=${usuario.id})}" class="btn btn-primary">Editar Perfil</a>
            </div>

            <div class="col-md-8">
                <!-- Estadísticas del usuario -->
                <h3>Estadísticas</h3>
                <div class="d-flex">
                    <!-- Acceso a estanterías -->
                    <div>
                        <h4>Tu estantería</h4>
                        <div class="btn-group" role="group">
                            <a th:href="@{/perfil/{id}/estanteria(id=${usuario.id}, estado='Quiero leer')}"
                               class="btn btn-outline-primary"
                               th:classappend="${categoriaActual == 'Quiero leer'} ? 'btn-primary text-white' : ''">Quiero
                                leer</a>
                            <a th:href="@{/perfil/{id}/estanteria(id=${usuario.id}, estado='Leyendo')}"
                               class="btn btn-outline-primary"
                               th:classappend="${categoriaActual == 'Leyendo'} ? 'btn-primary text-white' : ''">Leyendo</a>
                            <a th:href="@{/perfil/{id}/estanteria(id=${usuario.id}, estado='Leído')}"
                               class="btn btn-outline-primary"
                               th:classappend="${categoriaActual == 'Leído'} ? 'btn-primary text-white' : ''">Leído</a>
                        </div>
                    </div>
                    <div class="ms-5">
                        <h4>Progreso de Libros leídos en el año</h4>
                        <div class="progress">
                            <!-- Calcular la cantidad de libros leidos en el año dividido la meta * 100 para saber el % de progreso -->
                            <!-- th:style="'width: ' + (${usuario.cantLibrosLeidos} / ${usuario.metaDeLibros} * 100) + '%;'" -->
                            <!-- Hacer que la barra sea verde o roja de manera dinamica -->
                            <!--  th:classappend="${usuario.cantLibrosLeidos >= usuario.metaDeLibros} ? 'bg-success' : 'bg-warning'"> -->
                            <div class="progress-bar bg-success" role="progressbar" style="width: 70%">
                                <!-- th:text="${usuario.cantLibrosLeidos} + ' de ' + ${usuario.metaDeLibros} + ' libros leídos'" -->
                                <span>10 de 12 libros leídos</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sección de libros actuales -->
                <div class="row mt-5">
                    <div th:if="${error} != null" class="alert alert-danger">
                        <p><strong>Error:</strong> <span th:text="${error}"></span></p>
                    </div>

                    <div class="col-12" th:if="${error} == null">
                        <h3 th:text="'Libros ' + ${categoriaActual == null ? 'leyendo' : categoriaActual}"></h3>
                        <div class="row">
                            <div class="col-md-4" th:each="usuarioLibro : ${libros}">
                                <a th:href="@{/libro/detalle/{id}(id=${usuarioLibro.libro.id})}">
                                    <div class="card mb-3">
                                        <!-- Imagen del libro -->
                                        <img th:src="${usuarioLibro.libro.imagenUrl}"
                                             class="card-img-top" alt="Portada del libro">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${usuarioLibro.libro.titulo}"></h5>
                                            <p class="card-text" th:text="'Autor: ' + ${usuarioLibro.libro.autor}"></p>

                                            <!-- Barra de progreso de lectura -->
                                            <div class="progress">
                                                <!-- th:style="'width:' + ${libro.progreso} + '%'" -->
                                                <!-- th:text="${libro.progreso + '% leído'}" -->
                                                <div class="progress-bar" role="progressbar" style="width: 50%">
                                                    50% leído
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Sección de reseñas -->
                <div th:if="${categoriaActual == 'Leído'}">
                    <h3 class="mt-4">Reseñas</h3>
                    <div class="list-group">
                        <!-- Iterar sobre los libros leídos con reseñas -->
                        <div th:each="usuarioLibro : ${libros}">
                            <a href="#" class="list-group-item list-group-item-action">
                                <!-- Mostrar el título del libro -->
                                <h5 th:text="${usuarioLibro.libro.titulo}"></h5>
                                <!-- Mostrar la reseña -->
                                <p th:if="${usuarioLibro.resenia != null}"
                                   th:text="${usuarioLibro.resenia}">Reseña del libro</p>
                                <p th:if="${usuarioLibro.resenia == null}">
                                    No ha dado reseña de este libro
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/js/main.js}"></script>
</body>
</html>